h1 {
    font-size: 100px;
    color: khaki;
    text-align: center;
    background-image: url('Images/pattern.webp');
}

h2 {
    font-size: 32px;
    color: white;
}

.msgreen-background {
    background-color: mediumspringgreen;
}

.lcoral-background {
    background-color: lightcoral;
}

.sblue-background {
    background-color: skyblue;
}

span {
    color: blue;
}

h1, h2, span {
    font-family: Helvetica;
    font-weight: bold;
}
